[submodule "Third Party/SDWebImage"]
	path = Third Party/SDWebImage
	url = git://github.com/steply/SDWebImage.git
[submodule "Third Party/SBJSON-library"]
	path = Third Party/SBJSON-library
	url = git://github.com/steply/SBJSON-library.git
